// sass file for the body element which includes html, body and main


html, body, main{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: $body-font-size;
  line-height: 1.6;
  font-family: 'Roboto Slab', 'Roboto', sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

main { 
    margin-left: auto;
    margin-right: auto;
}


