/* 

sass file for the home page elements, Classes and IDs which includes;
.bg-image, .inner-header, .overlay, .logo, .quote, .the-quote, .author, .container, .box1, .box2,
.weather, .time, .greetings, .instruction, .greetings-task, .task-bar, .input-container,
.btn, input[type=text], .footer, .settings, .icon, .credit, .credit-bg, .todo, .todo-bg

*/

.bg-image {
  background: url("https://source.unsplash.com/category/nature/1920x1080") no-repeat;
  background-size: cover;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-position: center center;

}


  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: $background-transparency;
    background: $background-color;
  }

.inner-header{

    // inner header media query for devices above (1024px)
    @media screen and (min-width: $larger-device) {
    margin-top: -3%;
  }
}

.logo {
  float: left;
  position: relative;
  margin-left: -4%;
  width: 20%;
  height: 20%;

    // logo media query for devices above (768px)
    @media screen and (min-width: $medium-device) {
      margin-top: 2%;
      margin-left: -2%;
      width: 13%;
      height: 13%;
    }
    // logo media query for devices above (1024px)
    @media screen and (min-width: $larger-device) {
      margin-top: 2%;
      margin-left: -2%;
      width: 10%;
      height: 10%;
  }
}


#quote {
  margin-top: 3%;
  margin-right: 5%;
  float: right;
  width: 30%;
  height: 80px;
  overflow: auto;
  text-align: center;
  position: relative;
  background-color: $background-transparent-color;
  padding: 10px;

    // quote media query for devices above (768px)
    @media screen and (min-width: $medium-device) {
    margin-top: 3%;
    margin-right: 3%;
    padding: 10px;
    width: 20%;
    height: 190px;
  }

    // quote media query for devices above (1024px)
    @media screen and (min-width: $larger-device) {
    margin-top: 5%;
    margin-right: 2%;
    padding: 20px;
    width: 15%;
    height: 170px;
  }
}

.the-quote {
    font-size: 10px;
    line-height: 1.5em;
    @media screen and (min-width: $medium-device) {
        font-size: 14px;
    }
}

.author {
    font-size: 12px;
    // greetings media query for devices above (768px)
    @media screen and (min-width: $medium-device) {
        font-size: 16px;
    }

    // greetings media query for devices above (1024px)
    @media screen and (min-width: $larger-device) {
        font-size: 16px;
    }
}

.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.box1 {
  width: 100%;
  margin-top: 3%;

// flex box 1 media query for devices above (768px)
  @media screen and (min-width: $medium-device) {
    width: 50%;
  }

  // flex box 1 media query for devices above (1024px)
    @media screen and (min-width: $larger-device) {
    width: 50%;
  }
}

.box2 {
  width: 100%;
  margin-top: 3%;

    // flex box 2 media query for devices above (768px)
  @media screen and (min-width: $medium-device) {
    width: 50%;
    margin-top: 3%;
  }

    // flex box 2 media query for devices above (1024px)
  @media screen and (min-width: $larger-device) {
    width: 50%;
    margin-top: 3%;
  }
}

#weather {
width: 50%;
background-color: $background-color;
padding: 20px;
opacity: $background-transparency;
margin: 0 auto;

    // weather media query for devices above (768px)
    @media screen and (min-width: $medium-device) {
        width: 30%;
        margin-left: 40%;
    }

    // weather media query for devices above (1024px)
    @media screen and (min-width: $larger-device) {
        width: 30%;
        margin-left: 60%;
    }
}

.weather-img {
    width: 40%;
    @media screen and (min-width: $medium-device) {
    width: 50%;
    }

    // weather media query for devices above (1024px)
    @media screen and (min-width: $larger-device) {
        width: 30%;
    }
}

#time{
font-size: 40px;
text-align: center;
position: relative;

    // time media query for devices above (768px)
    @media screen and (min-width: $medium-device) {
        font-size: 50px;
        text-align: left;
        margin-right: 40%;
    }

    // time media query for devices above (1024px)
    @media screen and (min-width: $larger-device) {
        font-size: 75px;
        text-align: left;
        margin-right: 50%;
    }
}

.greetings {
font-size: 20px;
font-weight: lighter;
position: relative;

    // greetings media query for devices above (768px)
    @media screen and (min-width: $medium-device) {
        font-size: 50px;
    }

    // greetings media query for devices above (1024px)
    @media screen and (min-width: $larger-device) {
        font-size: 70px;
    }
}

.instruction {
font-size:15px;
font-weight: lighter;
position: relative;

    // instruction media query for devices above (768px)
    @media screen and (min-width: $medium-device) {
        font-size: 30px;
    }

    // instruction media query for devices above (1024px)
    @media screen and (min-width: $larger-device) {
        font-size: 50px;
    }
}

.greetings-task {
width: 100%;
margin: 0 auto;
text-align: center;
}

.task-bar{
display: flex;
width: 100%;
align-items: center;
justify-content: center;
}

.input-container {
display: flex;
width: 100%;
margin-bottom: 15px;

    // input container media query for devices above (768px)
    @media screen and (min-width: $medium-device) {
        width: 75%;
    }

    // input container media query for devices above (1024px)
    @media screen and (min-width: $larger-device) {
        width: 50%;
    }
}

.btn{
padding: 10px;
background-color: $background-color;
border: none;
cursor: pointer;
color: #ffffff;
font-size: 20px;
text-align: center;
}


input[type=text]{
color: #ffffff;
outline: none;
border: 0px;
background-color: $background-color;
opacity: $background-transparency;
width: 100%;

    // input element media query for devices above (768px)
    @media screen and (min-width: $medium-device) {
        margin: 0 auto;
    }

    // input element media query for devices above (1024px)
    @media screen and (min-width: $larger-device) {
        margin: 0 auto;
    }
}

.footer{
padding: 0;
margin-bottom: -5px;
width: 100%;
position: absolute;
bottom: 0;
display: flex;
flex-wrap: wrap;

}

.settings{
width: 33.3%;
}

.icon {
margin-left: 20px;
font-size: 50px;
    &:hover{
    cursor: pointer;
    }
}

.credit{
font-size: 17px;
width: 33.3%;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
    &:hover{
    cursor: pointer;
    color: #c9c9c9;
    }
}

.credit-bg{
padding: 10px;
background-color: $background-color;
height: 50%;
text-align: center;
}

.todo{
width: 33.3%;
position: relative;
display: flex;
justify-content: flex-end;
}

.todo-bg {
height: 50%;
padding: 10px;
margin: 0;
text-align: center;
font-size: 17px;
background-color: $background-transparent-color;
    &:hover{
    background-color: $background-transparent-color;
    opacity: 1;
    cursor: pointer;
    }
}